.home-page {
    max-width: 2200px;
    margin: 0 auto;
    background-color: #fff;

    // HEADER
    header {
        padding: 2rem 14px;

        .img {
            width: 100%;
            @include flex(center, center, row);
        }

        .mini {
            padding: 0 0.2rem;
            font-size: 0.9rem;
        }
    }

    // HERO SECTION
    .hero {
        padding: 2rem 14px;
        @include flex(flex-start, space-between, column-reverse);

        .info {
            width: 100%;

            h1 {
                font-size: 2.5rem;
                font-weight: 500;
                margin-bottom: 1rem;
            }

            p {
                color: rgba(17, 17, 17, .8);
                font-size: 1rem;
                line-height: 28px;
                margin-bottom: 2rem;
            }

            .offers {
                .offer {
                    @include flex(center, space-between, row);
                    border-bottom: 1px solid #7c7979;
                    font-size: 1.5rem;
                    font-weight: 400;
                    margin-bottom: 1rem;
                    padding: 1rem 0;
                }
            }
        }

        .img {
            width: 100%;
            height: 255px;
            border: 2px solid green;
            margin-bottom: 1rem;
        }
    }

    // OUR SERVICES
    .our-services {
        margin-bottom: 3rem;
        padding: 2rem 14px;
        @include flex(flex-start, space-between, column);

        .info {
            width: 100%;

            .title {
                font-size: 2.2rem;
                width: 70%;
                font-weight: 500;
                margin-bottom: 2rem;
            }

            .services {
                @include grid(1, 1fr, 20px);

                .service {
                    border-top: 1px solid #7c7979;
                    padding: 0.5rem 0;
                    position: relative;
                    height: 170px;
                    margin-bottom: 2rem;

                    h3 {
                        font-size: 1.2rem;
                        font-weight: 500;
                        margin-bottom: 0.2rem;
                    }

                    p {
                        color: rgba(17, 17, 17, .5);
                        font-size: 0.9rem;
                        margin-bottom: 0.5rem;
                        line-height: 26px;
                    }

                    .circular-btn-with-label {
                        position: absolute;
                        bottom: 0;
                    }
                }
            }

        }

        .img {
            border: 2px solid green;
            height: 255px;
            width: 100%;
        }

    }

    // SELECTED WORKS SECTION
    .selected-work {
        padding: 2rem 14px;

        .title {
            width: 100%;
            @include flex(center, center, row);
            margin-bottom: 2rem;
        }

        .project {
            @include flex(flex-start, space-between, column);
            margin-bottom: 4rem;

            .imgs {
                width: 100%;
                @include grid(1, 1fr, 20px);

                .img {
                    img {
                        object-fit: fill;

                        -webkit-filter: grayscale(100%);
                        filter: grayscale(100%);
                        transition: 0.2s linear all;

                        &:hover {
                            -webkit-filter: grayscale(0);
                            filter: grayscale(0);
                        }
                    }
                }
            }

            .info {
                margin-top: 1rem;
                width: 100%;
                padding: 0;

                h2 {
                    font-size: 1.4rem;
                    margin-bottom: 0.5rem;
                }

                p {
                    width: 100%;
                    font-size: 1rem;
                    font-size: 400;
                }
            }
        }
    }
}

@include for-phone-only {
    .home-page {

        // HEADER
        header {
            padding: 2rem 24px;
        }

        // HERO SECTION
        .hero {
            padding: 2rem 24px;
        }

        // OUR SERVICES
        .our-services {
            padding: 2rem 24px;
        }


        // SELECTED WORKS SECTION
        .selected-work {
            padding: 2rem 24px;
        }
    }
}

@include for-tablet-potrait-up {
    .home-page {

        // HEADER
        header {
            padding: 2rem 48px;

            .mini {
                font-size: 1rem;
            }
        }

        // HERO SECTION
        .hero {
            padding: 2rem 48px;

            .info {
                h1 {
                    font-size: 4rem;
                }

                p {
                    font-size: 1.2rem;
                }

                .offers {
                    .offer {
                        font-size: 2rem;
                    }
                }
            }

            .img {
                width: 100%;
                height: 672px;
            }
        }


        // OUR SERVICES
        .our-services {
            margin-bottom: 3rem;
            padding: 2rem 48px;
            @include flex(flex-start, space-between, column);

            .info {
                width: 100%;

                .title {
                    font-size: 3.2rem;
                    width: 100%;
                }

                .services {
                    @include grid(2, 1fr, 40px);

                    .service {
                        padding: 1rem 0;
                    }
                }
            }

            .img {
                height: 672px;
                width: 100%;
            }
        }

        // SELECTED WORKS SECTION
        .selected-work {
            padding: 2rem 48px;

            .title {
                width: 100%;
                @include flex(center, center, row);
                margin-bottom: 3rem;
            }

            .project {
                @include flex(flex-start, space-between, row);
                margin-bottom: 5rem;

                .imgs {
                    width: 60%;
                }

                .info {
                    margin-top: 1rem;
                    width: 40%;
                    padding: 0 1rem;

                    h2 {
                        font-size: 1.3rem;
                    }

                    p {
                        font-size: 0.9rem;
                    }

                    .circular-btn-with-label {
                        margin-top: 1rem;

                        .icon {
                            width: 28px;
                            height: 28px;
                            margin-right: 0.6rem;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@include for-tablet-landscape-up {}

@include for-desktop-up {
    .home-page {

        // HEADER
        header {
            padding: 2rem 64px;

            .mini {
                padding: 0 0.8rem;
            }
        }

        // HERO SECTION
        .hero {
            padding: 2rem 64px;
            @include flex(flex-start, space-between, row);

            .info {
                width: 50%;
                padding-right: 2rem;

                h1 {
                    font-size: 5rem;
                }

                p {
                    font-size: 1.2rem;
                }

                .offers {
                    .offer {
                        font-size: 2rem;
                    }
                }
            }

            .img {
                width: 50%;
                height: 805px;
                margin-bottom: 0;
            }
        }

        // OUR SERVICES
        .our-services {
            padding: 2rem 64px;
            @include flex(flex-start, space-between, row);

            .info {
                width: 60%;
                padding-right: 2rem;

                .title {
                    font-size: 5rem;
                }

                .services {
                    @include grid(2, 1fr, 40px);

                    .service {
                        padding: 0.5rem 0;
                        height: 180px;

                        h3 {
                            font-size: 1.5rem;
                        }

                        p {
                            font-size: 1rem;
                        }
                    }
                }
            }

            .img {
                height: 648px;
                width: 40%;
            }
        }

        // SELECTED WORKS SECTION
        .selected-work {
            padding: 2rem 64px;

            .title {
                margin-bottom: 5rem;
            }

            .project {
                @include flex(flex-start, space-between, row);
                margin-bottom: 5rem;

                &.inverted {
                    @include flex(flex-start, space-between, row-reverse);
                }


                .imgs {
                    width: 70%;
                }

                .info {
                    width: 30%;
                    padding: 0 2rem;
                    margin-top: 4rem;

                    h2 {
                        font-size: 2rem;
                        margin-bottom: 1rem;
                    }

                    p {
                        font-size: 1.2rem;
                    }

                    .circular-btn-with-label {
                        margin-top: 8rem;

                        .icon {
                            font-size: 1.2rem;
                        }

                        span {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@include for-big-desktop-up {
    .home-page {
        header {
            padding: 2rem 64px;

            .mini {
                padding: 0 0.8rem;
            }
        }
    }
}