.home-page {
    max-width: 2200px;
    margin: 0 auto;
    background-color: #fff;

    // HEADER
    header {
        padding: 2rem 14px;

        .img {
            width: 100%;
            @include flex(center, center, row);
        }

        .mini {
            padding: 0 0.2rem;
            font-size: 0.9rem;
        }
    }
}

@include for-phone-only {
    .home-page {

        // HEADER
        header {
            padding: 2rem 24px;
        }
    }
}

@include for-tablet-potrait-up {
    .home-page {

        // HEADER
        header {
            padding: 2rem 48px;

            .mini {
                font-size: 1rem;
            }
        }
    }
}

@include for-tablet-landscape-up {}

@include for-desktop-up {
    .home-page {

        // HEADER
        header {
            padding: 2rem 64px;
            overflow: hidden;

            .img {
                overflow: hidden;

                img {
                    opacity: 1;
                }
            }

            .mini {
                padding: 0 0.8rem;
            }
        }
    }
}

@include for-big-desktop-up {
    .home-page {
        header {
            padding: 2rem 64px;

            .mini {
                padding: 0 0.8rem;
            }
        }
    }
}