@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "./variables";
@import "./mixins";

// COMPONENTS
@import "../components/Navbar/navbar";
@import "../components/Footer/footer";
@import "../components/Selected-works/selected-works";
@import "../components/Our-Services/our-services";
@import "../components/Hero/hero";
@import "../components/Custom-cursor/custom-cursor";

// PAGES
@import "../pages/Home/home";


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html,
body {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
    overflow-x: hidden;
    // cursor: none;
}

section {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}


ul {
    list-style-type: none;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-self: center;
}

.border {
    border: 1px solid red;
}

.ofh {
    overflow: hidden
}


button {
    @include flex(center, center, row);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    color: #111;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border: none;
    border-radius: 500px;
    padding: 0.75rem 1.25rem;
    font-size: 13px;
    font-weight: 500;
    line-height: 110%;
    transition: border-color .2s, color .2s, background-color .2s;
    cursor: pointer;

    img {
        margin-left: 10px;
        height: 24px;
        width: 24px;
    }

    svg {
        margin-left: 10px;
        font-size: 1.4rem;
        font-family: 600;
    }

    &.black {
        color: #fff;
        background-color: #111;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
    }

    &.white {
        color: #111;
        background-color: #fff;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
    }
}


// CUSTOM INPUT FIELDS 

.form-row {
    @include for-tablet-potrait-up {
        @include flex(center, space-between, row);

        .form-control {
            width: 48%;
        }
    }
}

.form-control {
    @include flex(flex-start, center, column);

    label {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 500;
        color: #364a63;

        &.error {
            color: #F03E3D;
        }

        span {
            color: red;
        }
    }

    input {
        width: 100%;
        height: 100%;
        border: 1px solid #D0CFCF;
        border-radius: 4px;
        padding: 16px;
        font-size: 16px;
        outline: none;
        font-family: 'Roboto Condensed', sans-serif;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &[type=number] {
            appearance: inherit;
            -moz-appearance: textfield;
        }
    }

    textarea {
        width: 100%;
        resize: none;
        min-height: 200px;
        margin-top: 10px;
        border: 1px solid #D0CFCF;
        border-radius: 4px;
        padding: 16px;
        outline: none;
        font-family: 'Roboto Condensed', sans-serif;
    }

    select {
        width: 100%;
        height: 100%;
        border: 1px solid #D0CFCF;
        border-radius: 4px;
        padding: 16px;
        font-size: 16px;
        outline: none;
        margin-top: 5px;
        background: transparent;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .password-cont {
        @include flex(center, space-between, row);
        border-radius: 4px;
        border: 1px solid #D0CFCF;
        margin-top: 5px;
        padding-right: 1rem;

        input {
            border: none;
            height: 100%;
            margin: 0;
        }

        svg {
            cursor: pointer;
        }
    }
}


/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}


// RESET INPUT FONT-SIZE FOR MOBILE
@media screen and (max-width: 767px) {

    input,
    select,
    textarea {
        font-size: 16px;
    }
}


// CIRCULAR BUTTON WITH ARROW AND LABEL ALONG SIDE IT
.circular-btn-with-label {
    margin-top: 1rem;
    @include flex(center, flex-start, row);
    display: inline-flex;
    cursor: pointer;

    .icon {
        background-color: #111;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        margin-right: 1rem;
        color: #fff;
        @include flex(center, center, row);
        font-size: 1rem;
    }

    span {
        font-size: 0.9rem;
    }
}